{% extends 'listing/base.html' %}

{% block content %}

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 text-center text-md-left mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">404 error</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ml-auto">
              <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home mr-1"></i>Home</a></li>
              <li class="breadcrumb-item active"><span>404 error</span></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Inner Header -->

    <!--=================================
    Error 404 -->
    <section class="space-ptb">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="error-404 text-center">
              <h1>404</h1>
              <h4>Oops ! Sorry We Can't Find That Page.</h4>
              <p>Can't find what you looking for? Take a moment and do a search below or start from our <a href="index.html"> Home Page</a></p>
              <div class="row">
                <div class="col-md-8 offset-md-2">
                  <form class="form-inline input-with-btn">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search the Site…">
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Error 404 -->

 {% endblock content %}