{% extends 'listing/base.html' %}

{% block content %}
    <!--=================================
    Search Course -->
    <section class="space-ptb bg-overlay-black-50 search-course bg-holder" style="background-image: ('static/images/bg/02.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-6 col-lg-5 space-pb">
            <h2 class="text-primary mb-3">Never stop learning </h2>
            <h6 class="text-white">A best and cheapest way of getting know learning to make a better tomorrow.</h6>
            <form class="form-inline mt-4 mt-sm-5">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="What do you want to study?">
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Search Course -->

    <!--=================================
    Feature Info -->
    <section class="mt-n5 e-mt-sm-n4 e-mt-md-n5 e-mt-lg-n6 z-index-1 position-relative">
      <div class="container">
        <div class="box-shadow rounded-sm feature-info-03 bg-white">
          <div class="row no-gutters">
            <div class="col-md-4 px-5 py-4 py-md-5">
              <div class="d-flex align-items-center mb-4">
                <i class="flaticon-online-learning-1 fa-3x text-primary mr-4"></i>
                <h5 class="font-weight-bold mb-0 mt-0 text-dark">100,000 online courses</h5>
              </div>
              <p class="mb-0">Lots of people come here to Japan, but never quite find out how to stay. Many, many foreigners who come.</p>
            </div>
            <div class="col-md-4 px-5 py-4 py-md-5">
              <div class="d-flex align-items-center mb-4">
                <i class="flaticon-strategy fa-3x text-primary mr-4"></i>
                <h5 class="font-weight-bold mb-0 mt-0 text-dark">Lifetime entrance</h5>
              </div>
              <p class="mb-0">I’ve even said it myself, although I added the qualifier that the powerful desire is not so much for the Universe.</p>
            </div>
            <div class="col-md-4 px-5 py-4 py-md-5">
              <div class="d-flex align-items-center mb-4">
                <i class="flaticon-lock fa-3x text-primary mr-4"></i>
                <h5 class="font-weight-bold mb-0 mt-0 text-dark">Live learning</h5>
              </div>
              <p class="mb-0">On the other hand, the ones who do stay are often not especially hard working, dedicated sensible or qualified.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Feature Info -->

    <!--=================================
    Course -->
    <section class="space-ptb">
      <div class="container">
        <div class="section-title text-center">
          <h2>The greatest choice of courses</h2>
          <p>This is perhaps the single biggest obstacle that all of us must overcome in order to be successful.</p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="filters-group mb-2 mb-4">
              <button class="btn-filter active" data-group="all">All</button>
              <button class="btn-filter" data-group="development">Development </button>
              <button class="btn-filter" data-group="design">Design</button>
              <button class="btn-filter" data-group="marketing">Marketing</button>
              <button class="btn-filter" data-group="software">IT & software</button>
              <button class="btn-filter" data-group="photography">Photography</button>
              <button class="btn-filter" data-group="music">Music</button>
              <button class="btn-filter" data-group="personal">Personal Development </button>
              <button class="btn-filter" data-group="business">Business</button>
            </div>
            <div class="my-shuffle-container grid-4">
              <div class="grid-item" data-groups='["development", "design", "marketing", "personal"]'>
                <div class="course">
                  <div class="course-img">
                    <img class="img-fluid" src="/static/images/course/01.jpg" alt="">
                    <a href="#" class="course-category"><i class="far fa-bookmark"></i>Development</a>
                  </div>
                  <div class="course-info">
                    <div class="course-title">
                      <a href="#">Basic web development & coding online course</a>
                    </div>
                    <div class="course-instructor">by
                      <a href="#">Alice Williams</a>
                    </div>
                    <div class="course-rate-price">
                      <div class="rating">
                        <span>4.4</span>
                        <a href="#">578 Ratings</a>                      </div>
                        <div class="price">$59</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-item senior" data-groups='["personal", "marketing", "photography", "software"]'>
                  <div class="course">
                    <div class="course-img">
                      <img class="img-fluid" src="/static/images/course/07.jpg" alt="">
                      <a href="#" class="course-category"><i class="far fa-bookmark"></i> Personal Development</a>
                    </div>
                    <div class="course-info">
                      <div class="course-title">
                        <a href="#">Great thinking devices to help you learn tough topics</a>
                      </div>
                      <div class="course-instructor">by
                        <a href="#">Alice Williams</a>
                      </div>
                      <div class="course-rate-price">
                        <div class="rating">
                          <span>4.4</span>
                          <a href="#">18 Ratings</a>
                        </div>
                        <div class="price">$79</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-item" data-groups='["marketing", "design", "music", "business"]'>
                  <div class="course">
                    <div class="course-img">
                      <img class="img-fluid" src="/static/images/course/03.jpg" alt="">
                      <a href="#" class="course-category"><i class="far fa-bookmark"></i> Marketing</a>
                    </div>
                    <div class="course-info">
                      <div class="course-title">
                        <a href="#">Diploma in marketing management course</a>
                      </div>
                      <div class="course-instructor">by
                        <a href="#">Felica Queen</a>
                      </div>
                      <div class="course-rate-price">
                        <div class="rating">
                          <span>3.4</span>
                          <a href="#">97 Ratings</a>
                        </div>
                        <div class="price">$19</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-item" data-groups='["software", "development", "photography", "music"]'>
                  <div class="course">
                    <div class="course-img">
                      <img class="img-fluid" src="/static/images/course/04.jpg" alt="">
                      <a href="#" class="course-category"><i class="far fa-bookmark"></i> IT & software</a>
                    </div>
                    <div class="course-info">
                      <div class="course-title">
                        <a href="#">Introduction to robotic process automation (RPA)</a>
                      </div>
                      <div class="course-instructor">by
                        <a href="#">Ricardo Marshall</a>
                      </div>
                      <div class="course-rate-price">
                        <div class="rating">
                          <span>4.2</span>
                          <a href="#">172 Ratings</a>
                        </div>
                        <div class="price">$99</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-item senior" data-groups='["photography", "design", "personal", "business"]'>
                  <div class="course">
                    <div class="course-img">
                      <img class="img-fluid" src="/static/images/course/05.jpg" alt="">
                      <a href="#" class="course-category"><i class="far fa-bookmark"></i> Photography</a>
                    </div>
                    <div class="course-info">
                      <div class="course-title">
                        <a href="#">Certificate in camera and photography course</a>
                      </div>
                      <div class="course-instructor">by
                        <a href="#">Mellissa Doe</a>
                      </div>
                      <div class="course-rate-price">
                        <div class="rating">
                          <span>3.4</span>
                          <a href="#">48 Ratings</a>
                        </div>
                        <div class="price">$199</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-item " data-groups='["music", "development", "software", "photography"]'>
                  <div class="course">
                    <div class="course-img">
                      <img class="img-fluid" src="/static/images/course/06.jpg" alt="">
                      <a href="#" class="course-category"><i class="far fa-bookmark"></i> Music</a>
                    </div>
                    <div class="course-info">
                      <div class="course-title">
                        <a href="#">Composing music with others online course</a>
                      </div>
                      <div class="course-instructor">by
                        <a href="#">Paul Flavius</a>
                      </div>
                      <div class="course-rate-price">
                        <div class="rating">
                          <span>1.4</span>
                          <a href="#">157 Ratings</a>
                        </div>
                        <div class="price">$149</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-item" data-groups='["software", "development", "business", "music"]'>
                  <div class="course">
                    <div class="course-img">
                      <img class="img-fluid" src="/static/images/course/02.jpg" alt="">
                      <a href="#" class="course-category"><i class="far fa-bookmark"></i> Design</a>
                    </div>
                    <div class="course-info">
                      <div class="course-title">
                        <a href="#">UX & web design master course: Strategy, design..</a>
                      </div>
                      <div class="course-instructor">by
                        <a href="#">Joana Williams</a>
                      </div>
                      <div class="course-rate-price">
                        <div class="rating">
                          <span>3.1</span>
                          <a href="#">57 Ratings</a>
                        </div>
                        <div class="price">$49</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-item" data-groups='["business", "design", "marketing", "personal"]'>
                  <div class="course">
                    <div class="course-img">
                      <img class="img-fluid" src="/static/images/course/08.jpg" alt="">
                      <a href="#" class="course-category"><i class="far fa-bookmark"></i> Business</a>
                    </div>
                    <div class="course-info">
                      <div class="course-title">
                        <a href="#">How to launch a successful startup company</a>
                      </div>
                      <div class="course-instructor">by
                        <a href="#">Harry Russell</a>
                      </div>
                      <div class="course-rate-price">
                        <div class="rating">
                          <span>3.4</span>
                          <a href="#">15 Ratings</a>
                        </div>
                        <div class="price">$9</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Course -->

      <!--=================================
      Action Box -->
      <section class="bg-light py-5">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-8">
              <h4 class="mb-0">A best and cheapest way of getting know learning to make a better tomorrow.</h4>
            </div>
            <div class="col-md-4 text-md-right mt-4 mt-md-0">
              <a class="btn btn-primary" href="#">Start learning now!</a>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Action Box -->

      <!--=================================
      How It Works -->
      <section class="space-pt">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <div class="section-title">
                <h2>How It Works?</h2>
                <p class="mb-0">We know this in our gut, but what can we do about it? How can we motivate ourselves? One of the most difficult aspects of achieving success is staying motivated over the long haul.</p>
              </div>
            </div>
          </div>
          <div class="row pb-4">
            <div class="col-sm-4 mb-4 mb-sm-0">
              <div class="feature-info text-center">
                <div class="feature-info-icon">
                  <i class="flaticon-register fa-4x text-white bg-primary rounded-circle"></i>
                  <img class="d-lg-block d-none" src="/static/images/feature-info/arrow-01.png" alt="">
                </div>
                <h4 class="my-4">Register</h4>
                <p class="mb-0">One of the main areas that I work on with my clients is shedding these non-supportive beliefs and replacing them with beliefs that will help their desires.</p>
              </div>
            </div>
            <div class="col-sm-4 mb-4 mb-sm-0">
              <div class="feature-info text-center">
                <div class="feature-info-icon">
                  <i class="flaticon-add-user fa-4x text-white bg-primary rounded-circle"></i>
                  <img class="d-lg-block d-none" src="/static/images/feature-info/arrow-02.png" alt="">
                </div>
                <h4 class="my-4">Create Account</h4>
                <p class="mb-0">The price is something not necessarily defined as financial. It could be time, effort, sacrifice, money or perhaps, something else.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="feature-info text-center">
                <div class="feature-info-icon">
                  <i class="flaticon-edit fa-4x text-white bg-primary rounded-circle"></i>
                </div>
                <h4 class="my-4">Hands-On Learning</h4>
                <p class="mb-0">It is truly amazing the damage that we, as parents, can inflict on our children. So why do we do it? For the most part, we don’t do it intentionally or with malice.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      How It Works -->

      <!--=================================
      Category -->
      <section class="space-pt">
        <div class="bg-primary bg-overlay-theme-97 space-ptb" style="background-image: ('static/images/bg/04.jpg'); background-position: center;">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="section-title text-center mb-5 mb-xl-4">
                  <h2 class="text-white">Top Categories </h2>
                  <p class="lead text-white">I truly believe Augustine’s words are true and if you look at history you know it is true. There are many people in the world with amazing talents who realize.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="bg-white mt-n5 e-mt-sm-n4 e-mt-md-n5 e-mt-lg-n6 position-relative z-index-1 rounded-sm">
            <div class="row mb-3">
              <div class="col-sm-12">
                <div class="categories categories-style-02">
                  <div class="categories-item">
                    <div class="categories-icon">
                      <i class="flaticon-money fa-1x mt-3"></i>
                    </div>
                    <a href="#" class="categories-title">Design</a>
                  </div>
                  <div class="categories-item">
                    <div class="categories-icon">
                      <i class="flaticon-chat fa-1x mt-3"></i>
                    </div>
                    <a href="#" class="categories-title">Development</a>
                  </div>
                  <div class="categories-item">
                    <div class="categories-icon">
                      <i class="flaticon-checklist fa-1x mt-3"></i>
                    </div>
                    <a href="#" class="categories-title">Marketing</a>
                  </div>
                  <div class="categories-item">
                    <div class="categories-icon">
                      <i class="flaticon-studying fa-1x mt-3"></i>
                    </div>
                    <a href="#" class="categories-title">IT & software</a>
                  </div>
                  <div class="categories-item">
                    <div class="categories-icon">
                      <i class="flaticon-entrepreneur fa-1x mt-3"></i>
                    </div>
                    <a href="#" class="categories-title">Photography</a>
                  </div>
                  <div class="categories-item">
                    <div class="categories-icon">
                      <i class="flaticon-sales fa-1x mt-3"></i>
                    </div>
                    <a href="#" class="categories-title">Music</a>
                  </div>
                  <div class="categories-item">
                    <div class="categories-icon">
                      <i class="flaticon-lecture fa-1x mt-3"></i>
                    </div>
                    <a href="#" class="categories-title">Support</a>
                  </div>
                  <div class="categories-item">
                    <div class="categories-icon">
                      <i class="flaticon-online-learning-2 fa-1x mt-3"></i>
                    </div>
                    <a href="#" class="categories-title">Personal Development</a>
                  </div>
                  <div class="categories-item">
                    <div class="categories-icon">
                      <i class="flaticon-bullhorn fa-1x mt-3"></i>
                    </div>
                    <a href="#" class="categories-title">Business</a>
                  </div>
                  <div class="categories-item">
                    <div class="categories-icon">
                      <i class="flaticon-statistics fa-1x mt-3"></i>
                    </div>
                    <a href="#" class="categories-title">Databases</a>
                  </div>
                  <div class="categories-item">
                    <div class="categories-icon">
                      <i class="flaticon-student fa-1x mt-3"></i>
                    </div>
                    <a href="#" class="categories-title">Management</a>
                  </div>
                  <div class="categories-item">
                    <div class="categories-icon">
                      <i class="flaticon-hand fa-1x mt-3"></i>
                    </div>
                    <a href="#" class="categories-title">Mobile Apps</a>
                  </div>
                  <div class="clearfix"></div>
                  <div class="show-more-cat">
                    <a href="#" class="">Show more<i class="fas fa-arrow-right icon-btn"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Category -->

      <!--=================================
      Testimonial and Brands -->
      <section class="space-ptb">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-xl-7 text-center">
              <div class="owl-carousel testimonial" data-nav-arrow="true" data-nav-dots="false" data-items="1" data-lg-items="1" data-md-items="1" data-sm-items="1" data-space="0" data-autoheight="true">
                <div class="item">
                  <div class="video-image">
                    <img class="img-fluid w-100" src="/static/images/categories/09.jpg" alt="">
                    <a class="popup-icon popup-youtube" href="https://www.youtube.com/watch?v=LgvseYYhqU0">
                      <i class="fa fa-play"></i>
                      <div class="svg-item">
                        <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  height="48px" viewBox="0 0 1920 48" style="enable-background:new 0 0 1920 48;" xml:space="preserve">
                          <polygon id="XMLID_1_" class="st0" fill="#ffffff" points="1920,48 0,48 0,48 1920,0 "/>
                          </svg>
                        </div>
                      </a>
                    </div>
                    <div class="testimonial-item">
                      <div class="testimonial-content">
                        <h6 class="text-dark">We were treated like royalty. Needless to say we are extremely satisfied with the results. Thank you for making it painless, pleasant and most of all hassle free! It fits our needs perfectly.</h6>
                      </div>
                      <div class="testimonial-author">
                        <div class="testimonial-name">
                          <p class="mb-0 text-primary font-weight-bold">Michael Bean</p>
                          <small class="font-weight-bold">Web Developer</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="video-image">
                      <img class="img-fluid w-100" src="/static/images/categories/10.jpg" alt="">
                      <a class="popup-icon popup-youtube" href="https://www.youtube.com/watch?v=LgvseYYhqU0">
                        <i class="fa fa-play"></i>
                        <div class="svg-item">
                          <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="48px" viewBox="0 0 1920 48" style="enable-background:new 0 0 1920 48;" xml:space="preserve">
                            <polygon id="XMLID_2_" class="st0" fill="#ffffff" points="1920,48 0,48 0,48 1920,0 "/>
                            </svg>
                          </div>
                        </a>
                      </div>
                      <div class="testimonial-item">
                        <div class="testimonial-content">
                          <h6 class="text-dark">I have gotten at least 50 times the value from Guruma. I will let my mum know about this, she could really make use of Guruma! Wow what great service, I love it! Guruma is the real deal!</h6>
                        </div>
                        <div class="testimonial-author">
                          <div class="testimonial-name">
                            <p class="mb-0 text-primary font-weight-bold">Mariquilla V.</p>
                            <small class="font-weight-bold">Production Manager</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="video-image">
                        <img class="img-fluid w-100" src="/static/images/categories/11.jpg" alt="">
                        <a class="popup-icon popup-youtube" href="https://www.youtube.com/watch?v=LgvseYYhqU0">
                          <i class="fa fa-play"></i>
                          <div class="svg-item">
                            <svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="48px" viewBox="0 0 1920 48" style="enable-background:new 0 0 1920 48;" xml:space="preserve">
                              <polygon id="XMLID_3_" class="st0" fill="#ffffff" points="1920,48 0,48 0,48 1920,0 "/>
                              </svg>
                            </div>
                          </a>
                        </div>
                        <div class="testimonial-item">
                          <div class="testimonial-content">
                            <h6 class="text-dark">We've seen amazing results already. Since I invested in Guruma I made over 100,000 dollars profits. It's the perfect solution for our business. I was amazed at the quality of Guruma.</h6>
                          </div>
                          <div class="testimonial-author">
                            <div class="testimonial-name">
                              <p class="mb-0 text-primary font-weight-bold">Fern W.</p>
                              <small class="font-weight-bold">Vetrov Systems Development</small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-5 align-self-center pl-0 pl-lg-5 mt-5 mt-lg-0">
                    <div class="pl-3 pl-lg-4">
                      <div class="section-title">
                        <h2 class="mb-4 mb-lg-5">Trusted by more than 10,000 companies in 140 countries.</h2>
                      </div>
                      <a href="#" class="btn btn-primary">More our customers</a>
                      <hr class="my-5">
                      <h5 class="text-primary mt-md-4 mt-lg-5 mb-3">Need to train your team?</h5>
                      <div class="row">
                        <div class="col-lg-6 col-sm-3 col-6 mb-3 mb-md-0"><img class="img-fluid grayscale pt-4 w-75" src="/static/images/award-logo/01.svg" alt=""></div>
                        <div class="col-lg-6 col-sm-3 col-6 mb-3 mb-md-0"><img class="img-fluid grayscale pt-4 w-75" src="/static/images/award-logo/05.svg" alt=""></div>
                        <div class="col-lg-6 col-sm-3 col-6 "><img class="img-fluid grayscale pt-4 pt-lg-5 w-75" src="/static/images/award-logo/03.svg" alt=""></div>
                        <div class="col-lg-6 col-sm-3 col-6 "><img class="img-fluid grayscale pt-4 pt-lg-5 w-75" src="/static/images/award-logo/04.svg" alt=""></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--=================================
            Testimonial and Brands -->

            <!--=================================
            Feature info -->
            <section class="space-pb pt-4">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="bg-dark rounded-sm p-3 p-sm-4 p-xl-5">
                      <div class="m-2">
                        <div class="d-flex align-items-center mb-3">
                          <i class="flaticon-book fa-4x text-white mr-4"></i>
                          <h3 class="mb-0 mt-0 text-white">Become a instructor on Guruma</h3>
                        </div>
                        <p class="mb-4 text-white lead">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                        <a class="btn btn-outline-primary" href="#">Start teaching today</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="bg-primary rounded-sm p-3 p-sm-4 p-xl-5">
                      <div class="m-2">
                        <div class="d-flex align-items-center mb-3">
                          <i class="flaticon-book-1 fa-4x text-white mr-4"></i>
                          <h3 class="mb-0 mt-0 text-white">Guruma for business & Community</h3>
                        </div>
                        <p class="mb-4 text-white lead">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
                        <a class="btn btn-light" href="#">Get guruma for business</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--=================================
            Feature info -->

  {% endblock content %}