{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--=================================
Search Course -->
<section class="space-ptb bg-overlay-black-50 search-course bg-holder" style="background-image: url('{% static 'images/bg/02.jpg' %}');">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-5 space-pb">
        <h2 class="text-primary mb-3">Никогда не переставайте обучаться </h2>
        <h6 class="text-white">Мы подобрали лучшие курсы для вашего обучения онлайн</h6>
        <form class="form-inline mt-4 mt-sm-5">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="What do you want to study?">
          </div>
          <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!--=================================
Search Course -->

<!--=================================
Feature Info -->
<section class="bg-primary">
    <div class="container">
          <div class="row feature-info-02">
            <div class="col-sm-4 py-4 text-center">
              <i class="flaticon-online-learning-1 fa-3x text-white"></i>
              <h4 class="fw-5 mt-3 mb-0 text-white">Более {{course.count}} курсов онлайн</h4>
              <p class="mb-0 text-white">Focus is having the unwavering attention.</p>
            </div>
            <div class="col-sm-4 py-4 text-center">
              <i class="flaticon-lock fa-3x text-white"></i>
              <h4 class="fw-5 mt-3 mb-0 text-white">Только проверенные отзывы</h4>
              <p class="mb-0 text-white">The best way is to develop and follow.</p>
            </div>
            <div class="col-sm-4 py-4 text-center">
              <i class="flaticon-strategy fa-3x mt-2 text-white"></i>
              <h4 class="fw-5 mt-3 mb-0 text-white">Live learning</h4>
              <p class="mb-0 text-white">Start with your goals in mind and then work.</p>
            </div>
          </div>
        </div>
</section>
<!--=================================
Feature Info -->

<!--=================================
Сategories block -->
<section class="space-ptb">
      <div class="container">
          <div class="section-title text-center">
              <h2>Сourse categories</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt culpa sequi delectus laboriosam incidunt repellendus?</p>
          </div>
          <div class="row no-gutters">
                {% for cat in categories_menu %}
                <div class="col-md-4 px-5 py-4 py-md-5">
                  <div class="d-flex align-items-center mb-4">
                    <i class="{{ cat.flaticon }} fa-3x text-primary mr-4"></i>
                    <h5 class="font-weight-bold mb-0 mt-0 text-red"><a href="{% url 'course_list_category' cat.slug %}">{{ cat.name }}</a></h5>
                  </div>
                  <div class="load-more-container{{ forloop.counter }}">
                      <input type="checkbox" id="load-more{{ forloop.counter }}"/>
                      <ul class="category__list">
                        <li class="category__list-item"><a href="{% url 'course_list_category' cat.slug %}">Все курсы в {{ cat.name }}</a></li>
<!--  Посмотреть дальше как это нужно реазизовывать-->
                        {% if cat.child_category.all %}
                          {% for subcat in cat.child_category.all %}
                            {% if  subcat.course_set.exists %}
                            <li class="category__list-item"><a href="{% url 'course_list_category' subcat.slug %}">{{ subcat.name }}</a></li>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      </ul>
                    {% if cat.child_category.count > 3 %}
                      <label class="load-more-btn" for="load-more{{ forloop.counter }}">
                        <span class="unloaded">Показать все</span>
                        <span class="loaded">Свернуть</span>
                      </label>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
          </div>
      </div>
  </section>
<!--=================================
Сategories block -->
<!--=  Client Logo -->
<section class="space-ptb bg-light">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-12 mb-4">
        <div class="section-title">
          <h2>Курсы от {{ schools.count }} онлайн школ</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel our-clients" data-nav-arrow="false" data-items="6" data-md-items="5" data-sm-items="4" data-xs-items="3" data-xx-items="1" data-space="30" data-autoheight="true" data-autospeed="4000">
          {% for school in schools %}
          <div class="item">
            <a href="{% url 'school_detail' school.slug %}"><img class="img-fluid" src="{{ school.logo.url }}" alt=""></a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Client Logo -->

  {% endblock content %}