{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}

<section class="space-pb">
    <div class="container">
        <div class="section-title">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-start ml-auto bg-white">
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}"><i class="fas fa-home mr-1"></i>Главная</a>
                </li>
                <li class="breadcrumb-item"><a href="{% url 'school' %}">Список школ</a></li>
                <li class="breadcrumb-item active"><span>{{ school.name }}</span></li>
            </ol>
        </div>
        {% if messages %}
        {% for message in messages %}
        <p class="alert alert-warning" role="alert">
            {{ message }}
        </p>
        {% endfor %}
        {% endif %}
        <h1 class="mb-1 text-secondary">{{ school.name }}</h1>
        <div class="school-info d-flex justify-content-between align-items-center">
            <div>
                <p class="mt-4"><b>Школа: </b> <span class="text-muted mr-4">{{ school.name }}
                </span>{{ school.school_courses.all.count }} {{school.school_courses.all.count|rupluralize:"курс,курса,курсов"}}</p>
                <p><span class="text-muted">Средняя стоимость курса <b>21 000 рублей</b></span></p>
            </div>
            <div class="w-50 bg-light p-4 rounded-sm">
                <p>{{ school.description }}</p>
            </div>
        </div>
    </div>
</section>

<!--=================================
Сategories block -->
<section class="space-ptb">
    <div class="container">
        <div class="section-title text-center">
            <h2>Категории школы</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt culpa sequi delectus laboriosam
                incidunt repellendus?</p>
        </div>
        <div class="row no-gutters">
            {% for cat in school.categories.all %}
            <div class="col-md-4 px-5 py-4 py-md-5">
                <div class="d-flex align-items-center mb-4">
                    <i class="{{ cat.flaticon }} fa-3x text-primary mr-4"></i>
                    <h5 class="font-weight-bold mb-0 mt-0 text-dark">{{ cat.name }}</h5>
                </div>
                <div class="load-more-container{{ forloop.counter }}">
                    <input type="checkbox" id="load-more{{ forloop.counter }}"/>
                    <ul class="category__list">
                        <li class="category__list-item"><a href="{% url 'course_list_category' cat.slug %}">Все курсы в
                            {{ cat.name }}</a></li>
                        {% if cat.parent_category.all %}
                        {% for subcat in cat.parent_category.all %}
                        <li class="category__list-item"><a href="{% url 'course_list_category' subcat.slug %}">{{
                            subcat.name }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                    {% if cat.parent_category.count > 3 %}
                    <label class="load-more-btn" for="load-more{{ forloop.counter }}">
                        <span class="unloaded">Показать все</span>
                        <span class="loaded">Свернуть</span>
                    </label>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
<!--=================================
Сategories block -->

<section class="space-pb">
    <div class="container">
        <div class="border mb-4">
            <h6 class="text-dark px-4 py-2 bg-light mb-0">Отзывы о школе {{ school.name }}</h6>
            <span class="ml-3"><b>Лучшая оценка школы: </b><span class="p-1 mb-3 mr-3 bg-primary text-white">{{rating.Max}}</span></span>
            <span><b>Худшая оценка школы: </b><span class="p-1 mb-3 bg-danger text-white">{{rating.Min}}</span></span>
            <div class="p-4 border-top">
                <div class="d-flex align-items-center mb-2">
                    <div class="mr-auto">
                        <span>Количество отзывов: {{ rating.Cnt }}</span>
                        <ul class="list-unstyled d-flex">
                                    <li><i class=
                                        {% if rating.Avg < 0 %}
                                            "far fa-star text-warning"
                                        {% elif rating.Avg >= 1 %}
                                            "fa fa-star text-warning"
                                        {% else %}
                                            "fa fa-star-half-alt text-warning"
                                        {% endif %}>
                                    </i></li>
                                    <li><i class=
                                        {% if rating.Avg < 1 %}
                                            "far fa-star text-warning"
                                        {% elif rating.Avg >= 2 %}
                                            "fa fa-star text-warning"
                                        {% else %}
                                            "fa fa-star-half-alt text-warning"
                                        {% endif %}>
                                    </i></li>
                                    <li><i class=
                                        {% if rating.Avg < 2 %}
                                            "far fa-star text-warning"
                                        {% elif rating.Avg >= 3 %}
                                            "fa fa-star text-warning"
                                        {% else %}
                                            "fa fa-star-half-alt text-warning"
                                        {% endif %}>
                                    </i></li>
                                    <li><i class=
                                        {% if rating.Avg < 3 %}
                                            "far fa-star text-warning"
                                        {% elif rating.Avg >= 4 %}
                                            "fa fa-star text-warning"
                                        {% else %}
                                            "fa fa-star-half-alt text-warning"
                                        {% endif %}>
                                    </i></li>
                                    <li><i class=
                                        {% if rating.Avg < 4 %}
                                            "far fa-star text-warning"
                                        {% elif rating.Avg >= 5 %}
                                            "fa fa-star text-warning"
                                        {% else %}
                                            "fa fa-star-half-alt text-warning"
                                        {% endif %}>
                                    </i></li>
                                </ul>
                    </div>
                    {% if rating.Avg > 3.5 %}
                    <b class="display-3 text-success font-weight-bold">{{rating.Avg|floatformat}}</b>
                    {% else %}
                     <b class="display-3 text-warning font-weight-bold">{{rating.Avg|floatformat}}</b>
                    {% endif %}
                </div>
                <div class="progress-item mb-2">
                    <div class="d-flex">
                        <div class="progress-title mb-1 mr-auto">5 звезд</div>
                        <span>{{ rating.Cnt_star5 }}</span>
                    </div>
                    <div class="progress rounded" style="height: 6px;">
                        <div class="progress-bar bg-success rounded" role="progressbar" style="width: {{ rating.Cnt|rating_percentages:rating.Cnt_star5 }}%"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-item mb-2">
                    <div class="d-flex">
                        <div class="progress-title mb-1 mr-auto">4 звезд</div>
                        <span>{{ rating.Cnt_star4 }}</span>
                    </div>
                    <div class="progress rounded" style="height: 6px;">
                        <div class="progress-bar bg-success rounded" role="progressbar" style="width: {{ rating.Cnt|rating_percentages:rating.Cnt_star4 }}%"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-item mb-2">
                    <div class="d-flex">
                        <div class="progress-title mb-1 mr-auto">3 звезд</div>
                        <span>{{ rating.Cnt_star3 }}</span>
                    </div>
                    <div class="progress rounded" style="height: 6px;">
                        <div class="progress-bar bg-success rounded" role="progressbar" style="width: {{ rating.Cnt|rating_percentages:rating.Cnt_star3 }}%"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-item mb-2">
                    <div class="d-flex">
                        <div class="progress-title mb-1 mr-auto">2 звезд</div>
                        <span>{{ rating.Cnt_star2 }}</span>
                    </div>
                    <div class="progress rounded" style="height: 6px;">
                        <div class="progress-bar bg-success rounded" role="progressbar" style="width: {{ rating.Cnt|rating_percentages:rating.Cnt_star2 }}%"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-item">
                    <div class="d-flex">
                        <div class="progress-title mb-1 mr-auto">1 звезд</div>
                        <span>{{ rating.Cnt_star1 }}</span>
                    </div>
                    <div class="progress rounded" style="height: 6px;">
                        <div class="progress-bar bg-success rounded" role="progressbar" style="width: {{ rating.Cnt|rating_percentages:rating.Cnt_star1 }}%"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border mb-4">
            <div class="p-4 border-top">
                {% for review in school.review_set.all %}
                <div class="mb-5">
                    <div class="px-xl-4 mt-3 mt-xl-0">
                        <div class="d-flex flex-row">
                            <h6 class="mt-0 mr-4">{{ review.name|title }}</h6>
                            <div class="mb-2 mr-4">otzovik.com</div>
                            <div class="mb-2 text-primary mr-3">Проверенный</div>
                            <div class="d-flex ml mb-5">
                                <span class="px-2 border text-success border-radius d-inline-block mr-2">{{ review.rating }}</span>
                                <ul class="list-unstyled d-flex mb-0">
                                    <li><i class=
                                        {% if review.rating < 0 %}
                                            "far fa-star text-warning"
                                        {% elif review.rating >= 1 %}
                                            "fa fa-star text-warning"
                                        {% else %}
                                            "fa fa-star-half-alt text-warning"
                                        {% endif %}>
                                    </i></li>
                                    <li><i class=
                                        {% if review.rating < 1 %}
                                            "far fa-star text-warning"
                                        {% elif review.rating >= 2 %}
                                            "fa fa-star text-warning"
                                        {% else %}
                                            "fa fa-star-half-alt text-warning"
                                        {% endif %}>
                                    </i></li>
                                    <li><i class=
                                        {% if review.rating < 2 %}
                                            "far fa-star text-warning"
                                        {% elif review.rating >= 3 %}
                                            "fa fa-star text-warning"
                                        {% else %}
                                            "fa fa-star-half-alt text-warning"
                                        {% endif %}>
                                    </i></li>
                                    <li><i class=
                                        {% if review.rating < 3 %}
                                            "far fa-star text-warning"
                                        {% elif review.rating >= 4 %}
                                            "fa fa-star text-warning"
                                        {% else %}
                                            "fa fa-star-half-alt text-warning"
                                        {% endif %}>
                                    </i></li>
                                    <li><i class=
                                        {% if review.rating < 4 %}
                                            "far fa-star text-warning"
                                        {% elif review.rating >= 5 %}
                                            "fa fa-star text-warning"
                                        {% else %}
                                            "fa fa-star-half-alt text-warning"
                                        {% endif %}>
                                    </i></li>
                                </ul>
                            </div>
                        </div>
                        <p>{{ review.comment|linebreaksbr }}</p>
                        {% comment %}
                        <!--TODO: Возможность ответа. Лайк.Дизлайк комментарию-->
                        <div class="d-sm-flex">
                            <a class="bg-light text-dark rounded-sm px-3 py-1 mr-2 mr-xl-4 font-sm d-inline-block mb-2 mb-sm-0"
                               href="#"> <i class="fas fa-reply pr-1"></i>Ответить</a>
                            <a class="bg-success-soft text-success rounded-sm px-3 py-1 mr-2 mr-xl-4 font-sm d-inline-block"
                               href="#"> <i class="far fa-thumbs-up pr-1"></i> 67 </a>
                            <a class="bg-danger-soft text-danger rounded-sm px-3 py-1 font-sm d-inline-block"
                               href="#"> <i class="far fa-thumbs-down pr-1"></i> 04 </a>
                        </div>
                        {% endcomment %}
                    </div>
                </div>
                <hr>
                {% endfor %}


            </div>
        </div>
        <div class="border">
            <h6 class="text-dark px-4 py-2 bg-light mb-0">Оставить отзыв</h6>
            <div class="p-4 border-top">
                <form class="form-flat-style" action="" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="ratings">
                                <input type="radio" id="star5" name="rating" value="5"/><label class="full" for="star5"
                                                                                               title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" name="rating" value="4.5"/><label class="half"
                                                                                                     for="star4half"
                                                                                                     title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4"
                                                                                               title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" name="rating" value="3.5"/><label class="half"
                                                                                                     for="star3half"
                                                                                                     title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3"
                                                                                               title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" name="rating" value="2.5"/><label class="half"
                                                                                                     for="star2half"
                                                                                                     title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2"
                                                                                               title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="rating" value="1.5"/><label class="half"
                                                                                                     for="star1half"
                                                                                                     title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1"
                                                                                               title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" name="rating" value="0.5"/><label class="half"
                                                                                                    for="starhalf"
                                                                                                    title="Sucks big time - 0.5 stars"></label>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Имя</label>
                            {{ form.name.errors }}
                            <input type="text" name="name" class="form-control" placeholder="Введите ваше имя"
                                   {% if form.name.value%}
                                   value="{{ form.name.value }}"
                                   {% endif %}
                            >
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Ваш email</label>
                            {{ form.email.errors }}
                            <input type="email" name="email" class="form-control" placeholder="Введите ваш email"
                                   {% if form.email.value%}
                                   value="{{ form.email.value }}"
                                   {% endif %}
                            >
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Ваш отзыв</label>
                            {{ form.comment.errors }}
                            <textarea class="form-control" id="comment" name="comment" rows="4"
                                      placeholder="Опишите коротко впечатления от школы"
                            >{% if form.comment.value%}{{ form.comment.value }}{% endif %}</textarea>
                        </div>

                        <div class="form-group col-lg-4">
                            <button type="submit" class="btn btn btn-primary">Оставить отзыв</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>

<!--=  Client Logo -->
<section class="space-ptb bg-light">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12 mb-4">
                <div class="section-title">
                    <h2>Курсы от {{ schools.count }} онлайн школ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel our-clients" data-nav-arrow="false" data-items="6" data-md-items="5"
                     data-sm-items="4" data-xs-items="3" data-xx-items="1" data-space="30" data-autoheight="true"
                     data-autospeed="4000">
                    {% for school in schools %}
                    <div class="item">
                        <a href="{% url 'school_detail' school.slug %}"><img class="img-fluid"
                                                                             src="{{ school.logo.url }}" alt=""></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Client Logo -->

{% endblock content %}