{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}

{% block title %}Курсы от {{ school.name }}{%if not category%} | Course4You.ru{% endif %}{% if category %} в категории {{ category.name }}{% endif %}{% endblock %}
{% block description %}Выбирайте из {{ courses.count }} онлайн-{{courses.count|rupluralize:"курса,курсов,курсов"}} в категории {{ category.name }} от {{ school.name }} по: уровню сложности, цене, длительности{% endblock %}
{% block canonical %}{% if category %}{{ request.scheme }}://{{ request.get_host }}{% url 'course_list_category_school' category.slug school.slug%}{% else %}{{ request.scheme }}://{{ request.get_host }}{% url 'course_list_school' school.slug %}{% endif %}{% endblock %}




{% block content %}

<section class="space-pb">
  <div class="container">
    <div class="section-title">
      <ol class="breadcrumb d-flex justify-content-center justify-content-md-start ml-auto bg-white">
        <li class="breadcrumb-item"><a href="{% url 'homepage' %}"><i class="fas fa-home mr-1"></i>Главная</a></li>
        {% if category.parent %}
        <li class="breadcrumb-item"><a href="{% url 'course_list_category_school' category.parent.slug school.slug %}"></i>{{ category.parent.name }} от {{ school.name }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active"><span>Курсы {{ category.name|lower }} от {{ school.name }}</span></li>
      </ol>
        {% if category %}
            <h1 class="mb-3">{{courses.count}} онлайн {{courses.count|rupluralize:"курс,курса,курсов"}} в категории {{ category.name }} от {{ school.name }}</h1>
        {% else %}
            <h1 class="mb-3">Курсы от школы {{ school.name }}</h1>
        {% endif %}
      <div class="col-8 mb-2">
        <p class="mb-0">Мы собрали {{courses.count }} онлайн {{courses.count|rupluralize:"курс,курса,курсов"}} от компании {{ school.name }}{% if category %} в категрории {{ category.name }}{% else %} во всех направлениях {% endif %}.</p>
        <p class="mb-0">Ретинг равен {% if rating.Avg > 3.5 %}<b class="text-success font-weight-bold">{{rating.Avg|floatformat}}</b>{% else %}<b class="text-warning font-weight-bold">{{rating.Avg|floatformat}}</b>{% endif %} на основе {{ rating.Cnt }}  {{rating.Cnt|rupluralize:"отзыва,отзывов,отзывов"}} учащихся курсов </p>
        <p class="mb-0">Стоимость от {{ course_info.Min_price|floatformat }} рублей до {{ course_info.Max_price|floatformat }} рублей. Средняя стоимость: {{ course_info.Avg_price|floatformat }} рублей</p>
        <p class="mb-0">Продолжительность обучения от {{ course_info.Min_duration|floatformat }} до {{ course_info.Max_duration|floatformat }} месяцев. Средний срок обучения: {{ course_info.Avg_duration|floatformat }} месяев</p>
      </div>

      {% if school_categories %}
      <div class="widget widget-tag">
        <h6 class="widget-title ml-3">Направление курсов от {{ school.name }}</h6>
        <div class="widget-content">
          <ul class="list">
            {% for cat in school_categories %}
            <li><a href="{% url 'course_list_category_school' cat.slug school.slug %}">{{ cat.name }} <b class="text-success">({{ cat.Cnt }})</b></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-sm-12 mt-3 mt-lg-0">
        <form class="course-filter d-sm-flex mb-4" method="get" action="{{request.path}}">
            <ul class="course-short list-unstyled d-sm-flex mb-0">
              <li>
                <div class="form-inline">
                  <div class="form-group d-sm-flex d-block">
                    <div class="short-by">
                      <select class="form-control basic-select" name ="price_sort" onchange="this.form.submit()">
                        <option value="0" >Сортировать по цене</option>
                        <option value="1" {%if price_sort == "1" %}selected{% endif %}>По возрастанию цены</option>
                        <option value="2" {%if price_sort == "2" %}selected{% endif %}>По убыванию цены</option>
                      </select>
                    </div>
                    <div class="short-by">
                      <select class="form-control basic-select" name ="duration_sort" onchange="this.form.submit()">
                        <option value="0" >Фильтровать по сроку обучения</option>
                        <option value="1" {%if duration_sort == "1" %}selected{% endif %}>Курсы до 3 месяцев</option>
                        <option value="2" {%if duration_sort == "2" %}selected{% endif %}>Курсы до 6 месяцев</option>
                        <option value="3" {%if duration_sort == "3" %}selected{% endif %}>Курсы до 9 месяцев</option>
                        <option value="4" {%if duration_sort == "4" %}selected{% endif %}>Курсы до 12 месяцев</option>
                        <option value="5" {%if duration_sort == "5" %}selected{% endif %}>Больше 12 месяцев</option>
                      </select>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
        </form>
      </div>
    </div>

    <div class="course">
          {% for course in courses %}
          <div class="row no-gutters box-shadow mb-4">
              <div class="col-12 course-info p-0 h-100">
                <div class="px-4 pt-4">
                  <div class="mb-4">
                    <a class="font-weight-bold" href="{{ course.link }}" target="_blank">{{ course.name }}</a>
                    <hr class="border-primary">
                    <div class="card-text mb-2">
                      {{ course.description }}
                    </div>
                  </div>
                  <div class="card-text mb-2">
                    <i class="flaticon-clock-1 mt-3 text-success"></i>
                    <b>Продолжительность:</b> {{ course.duration|floatformat }} мес.
                  </div>
                  {% if course.start_date %}
                  <div class="card-text mb-2">
                    <i class="flaticon-clock mt-3 text-success"></i>
                    <b>Старт обучения:</b> {{ course.start_date }}</p>
                  </div>
                  {% endif %}
                  <div class="card-text mb-2">
                    <i class="flaticon-book-2 mt-3 text-success"></i>
                    <b>Форма обучения:</b>
                      {% for format in course.course_format.all %}
                      {{ format }}.
                      {% endfor %}
                  </div>
                  {% comment %}
                  <div class="card-text mb-2">
                      <i class="flaticon-course mt-3 text-success"></i>
                    <b>Особенности:</b>
                      {% for feature in course.features.all %}
                      {{ feature }}.
                      {% endfor %}
                  </div>
                  {% endcomment %}
                </div>
                <div class="course-rate-price px-4 pb-3">
                  <div class="price">
                    <p>
                      <i class="flaticon-money mt-3 text-success"></i>
                      Цена курса: {{ course.price|floatformat }} ₽
                    </p>
                    {% if course.discounted_price %}
                    <p><i class="flaticon-sales mt-3 text-success"></i>Стоимость со скидкой: {{ course.discounted_price|floatformat }} ₽</p>
                    {% endif %}
                  </div>
                  {% if course.deferred_price %}
                  <div class="price"><i class="flaticon-sales mt-3 text-success"></i>Рассрочка: от {{ course.deferred_price|floatformat }} ₽/мес</div>
                  {% endif %}
                  <div> <a href="{% if course.partner_link %}{{course.partner_link}}{% else %}{{ course.link }}{% endif %}" class="btn btn-outline-success ml-2" target="_blank">Подробнее</a> </div>
                </div>
              </div>
          </div>
          {% endfor %}
    </div>
    {% include 'include/paginator.html' %}
  </div>
</section>
{%if last_reviews.count > 1 %}
<!--    Testimonial-->
<section class="space-ptb bg-primary" data-jarallax='{"speed": 1}' style="background-image: url({% static 'images/bg/09.png' %}); background-size: cover;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10 text-center">
            <div class="section-title">
              <h2 class="text-white">Последние отзывы о {{ school.name }}</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-carousel owl-nav-bottom-center" data-nav-arrow="false" data-items="2" data-md-items="2" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0" data-autoheight="true">
              {% for review in last_reviews %}
              <div class="item">
                <div class="testimonial-style-03">
                  <div class="testimonial-info">
                    <div class="testimonial-quote">
                      <i class="text-white opacity-5 flaticon-quote"></i>
                    </div>
                    <div class="testimonial-content">
                      {% if review.head %}
                      <h6 class="pt-2 mb-2">{{ review.head }}</h6>
                      <hr class="border-primary">
                      {% endif %}
                      <p class="pb-2">{{ review.comment|truncatechars:200 }}</p>
                      <p class="pb-5"><a href="{%url 'school_detail' school.slug %}#{{ review.id }}"> Перейти к отзыву </a></p>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
<!--================================= Testimonial -->
{% endif %}

{% endblock content %}