{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Отзывы о {{ school_cnt }} онлайн-{{ school_cnt|rupluralize:"школе,школах,школах" }} в 2021 году {% endblock %}
{% block description %}Выбрайте онлайн-школы по: отзывам реальный людей, курсам, условиям, ценам. Сервис подбора онлайн-курсов Course4You.ru.{% endblock %}
{% block canonical %}{{ request.scheme }}://{{ request.get_host }}{% url 'school' %}{% endblock %}

{% block content %}

<section class="space-pb">
  <div class="container">
    <div class="section-title">
      <ol class="breadcrumb d-flex justify-content-center justify-content-md-start ml-auto bg-white">
        <li class="breadcrumb-item"><a href="{% url 'homepage' %}"><i class="fas fa-home mr-1"></i>Главная</a></li>
        <li class="breadcrumb-item active"><span>Список школ</span></li>
      </ol>
      <h2 class="mb-6">Онлайн-школы</h2>
      <p>Мы собрали для вас {{ school_cnt }} школ. Выбрайте подходящую вам по: курсам, отзывам, ценам.</p>
    </div>

    <div class="row schools-list">
      <div class="col-md-12 pb-4">
        <p>Показано {{ schools.count }} из {{ school_cnt }} онлайн-школ</p>
        {%for school in schools %}
        <div class="card bg-light mb-4">
          <div class="card-body d-flex justify-content-between border-bottom">
            <div class="school-info d-flex-column align-items-center ">
              <a href="{% if school.partner_link %}{{school.partner_link}}{% else %}https://{{ school.link }}{% endif %}" class="mr-4" target="_blank"><img class="img-fluid" src="{{ school.logo.url }}" alt=""></a>
              {% if school.Avg_rating %}
                {%  if school.Avg_rating >= 3.5 %}
                  Рейтинг: <span class="px-2 border text-success bg-white border-radius d-inline-block mr-2"><b>{{school.Avg_rating|floatformat:1}}</b></span>
                {% elif school.Avg_rating < 3.5 and school.Avg_rating > 2 %}
                  Рейтинг: <span class="px-2 border text-warning bg-white border-radius d-inline-block mr-2"><b>{{school.Avg_rating|floatformat:1}}</b></span>
                {% else %}
                  Рейтинг: <span class="px-2 border text-danger bg-white border-radius d-inline-block mr-2"><b>{{school.Avg_rating|floatformat:1}}</b></span>
                {% endif %}
              {% endif %}
              <a href="{% if school.partner_link %}{{school.partner_link}}{% else %}https://{{ school.link }}{% endif %}" class="school-link mt-2" target="_blank">Ссылка на сайт школы</a>
            </div>
            <div>
               <a href="{% url 'school_detail' school.slug %}" class="btn btn-primary">{{ school.Cnt_rating }} {{ school.Cnt_rating|rupluralize:"отзыв,отзыва,отзывов"}}</a>
            </div>
            </div>
              <div class="card-body">
                {{ school.description }}
              </div>
          </div>
        {% endfor %}
      {% include 'include/paginator.html' %}
      </div>
    </div>
  </div>
</section>

{% endblock content %}