{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}{% if school.title %}{{school.title}}{%else%}{% if rating.Cnt > 1 %}{{ rating.Cnt }} {{rating.Cnt|rupluralize:"отзыв,отзыва,отзывов"}} учеников о курсах от {{ school.name }}{% else %}{{ school.name }} — подробная информация, курсы, отзывы{% endif %}{% endif %}{% endblock %}
{% block description %}{% if school.seo_description %}{{school.seo_description}}{% else %}{% if rating.Cnt > 1 %}{{ school.name }} — Реальные {{ rating.Cnt }} {{rating.Cnt|rupluralize:"отзыв,отзыва,отзывов"}} прошедших обучение: о курсах, ценах, сертификатах, условиях стажировке и трудоустройстве. Сервис подбора онлайн-курсов Course4You.ru.{% else %}{{ school.name }} — Реальные отзывы прошедших обучение: о курсах, ценах, условиях стажировки и трудоустройстве. Сервис подбора онлайн-курсов Course4You.ru.{% endif %}{% endif %}{% endblock %}
{% block canonical %}{{ request.scheme }}://{{ request.get_host }}{% url 'school_detail' school.slug %}{% endblock %}

{% block content %}

<section class="space-pb">
    <div class="container">
        <div class="section-title">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-start ml-auto bg-white">
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}"><i class="fas fa-home mr-1"></i>Главная</a>
                </li>
                <li class="breadcrumb-item"><a href="{% url 'school' %}">Список школ</a></li>
                <li class="breadcrumb-item active"><span>{{ school.name }}</span></li>
            </ol>
        </div>
        {% if messages %}
        {% for message in messages %}
        <p class="alert alert-warning" role="alert">
            {{ message }}
        </p>
        {% endfor %}
        {% endif %}

        <h1 class="mb-1 text-secondary">{{ school.name }}</h1>
        <div class="row">
            <div class="col-4 ">
                <p class="mt-4"><b>Школа: </b> <span class="text-muted mr-4">{{ school.name }}
                <a href="{% url 'course_list_school' school.slug %}"></span>{{ school.school_courses.all.count }} {{school.school_courses.all.count|rupluralize:"курс,курса,курсов"}}</a></p>
                <p class="text-muted">Средняя стоимость курса <b>{{ courses.Avg_price|floatformat:0 }} рублей</b></p>
                <p class="text-muted">Самый дорогой курс <b>{{ courses.Max_price|floatformat:0 }} рублей</b></p>
                <p class="text-muted">Самый дешевый курс <b>{{ courses.Min_price|floatformat:0 }} рублей</b> </p>
            </div>
            <div class="col-8 bg-light p-4">
                <p>{{ school.description }}</p>
            </div>
        </div>
</section>

<!--=================================
      Category -->
<section class="space-pt">
    <div class="bg-primary bg-overlay-theme-97 space-ptb" style="background-image: url('images/bg/04.jpg'); background-position: center;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-title text-center mb-5 mb-xl-4">
              <h2 class="text-white">Направления обучения от {{ school.name }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="bg-white e-mt-sm-n4 e-mt-md-n5 e-mt-lg-n6 position-relative z-index-1 rounded-sm">
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="categories categories-style-02">
            {% for cat in school_categories %}
              <div class="categories-item col-md-4 col-xs-6">
                <div class="categories-icon">
                  <i class="{{ cat.flaticon }} fa-1x mt-3"></i>
                </div>
                <a href="{% url 'course_list_category_school' cat.slug school.slug %}" class="categories-title">{{cat.name}}</a>
                  <p>{{cat.Cnt_parent}} онлайн-курсов</p>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--=================================
      Category -->

<section class="space-pb">
    <div class="container">
        {% if rating.Cnt > 0 %}
        <div class="border mb-4">
            <h2 class="text-dark px-4 py-2 bg-light mb-0">Отзывы о школе {{ school.name }}</h2>
            <span class="ml-3"><b>Лучшая оценка школы: </b><span class="p-1 mb-3 mr-3 bg-primary text-white">{{rating.Max}}</span></span>
            <span><b>Худшая оценка школы: </b><span class="p-1 mb-3 bg-danger text-white">{{rating.Min}}</span></span>
            <div class="p-4 border-top">
                <div class="d-flex align-items-center mb-2">
                    <div class="mr-auto">
                        <span>Количество отзывов: {{ rating.Cnt }}</span>
                        {% spaceless %}
                        <ul class="list-unstyled d-flex">
                                        {% if rating.Avg < 0 %}
                                            <li><i class="far fa-star text-warning"></i></li>
                                        {% elif rating.Avg >= 1 %}
                                           <li><i class= "fa fa-star text-warning"></i></li>
                                        {% else %}
                                            <li><i class="fa fa-star-half-alt text-warning"></i></li>
                                        {% endif %}

                                        {% if rating.Avg < 1 %}
                                            <li><i class="far fa-star text-warning"></i></li>
                                        {% elif rating.Avg >= 2 %}
                                            <li><i class="fa fa-star text-warning"></i></li>
                                        {% else %}
                                            <li><i class="fa fa-star-half-alt text-warning"></i></li>
                                        {% endif %}

                                        {% if rating.Avg < 2 %}
                                            <li><i class="far fa-star text-warning"></i></li>
                                        {% elif rating.Avg >= 3 %}
                                            <li><i class="fa fa-star text-warning"></i></li>
                                        {% else %}
                                            <li><i class="fa fa-star-half-alt text-warning"></i></li>
                                        {% endif %}

                                        {% if rating.Avg < 3 %}
                                             <li><i class="far fa-star text-warning"></i></li>
                                        {% elif rating.Avg >= 4 %}
                                             <li><i class="fa fa-star text-warning"></i></li>
                                        {% else %}
                                             <li><i class="fa fa-star-half-alt text-warning"></i></li>
                                        {% endif %}

                                        {% if rating.Avg < 4 %}
                                             <li><i class="far fa-star text-warning"></i></li>
                                        {% elif rating.Avg >= 5 %}
                                             <li><i class="fa fa-star text-warning"></i></li>
                                        {% else %}
                                             <li><i class="fa fa-star-half-alt text-warning"></i></li>
                                        {% endif %}
                        </ul>
                        {% endspaceless %}
                    </div>
                    {% if rating.Avg > 3.5 %}
                    <b class="display-3 text-success font-weight-bold">{{rating.Avg|floatformat}}</b>
                    {% else %}
                     <b class="display-3 text-warning font-weight-bold">{{rating.Avg|floatformat}}</b>
                    {% endif %}
                </div>
                <div class="progress-item mb-2">
                    <div class="d-flex">
                        <div class="progress-title mb-1 mr-auto">5 звезд</div>
                        <span>{{ rating.Cnt_star5 }}</span>
                    </div>
                    <div class="progress rounded" style="height: 6px;">
                        <div class="progress-bar bg-success rounded" role="progressbar" style="width: {{ rating.Cnt|rating_percentages:rating.Cnt_star5 }}%"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-item mb-2">
                    <div class="d-flex">
                        <div class="progress-title mb-1 mr-auto">4 звезд</div>
                        <span>{{ rating.Cnt_star4 }}</span>
                    </div>
                    <div class="progress rounded" style="height: 6px;">
                        <div class="progress-bar bg-success rounded" role="progressbar" style="width: {{ rating.Cnt|rating_percentages:rating.Cnt_star4 }}%"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-item mb-2">
                    <div class="d-flex">
                        <div class="progress-title mb-1 mr-auto">3 звезд</div>
                        <span>{{ rating.Cnt_star3 }}</span>
                    </div>
                    <div class="progress rounded" style="height: 6px;">
                        <div class="progress-bar bg-success rounded" role="progressbar" style="width: {{ rating.Cnt|rating_percentages:rating.Cnt_star3 }}%"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-item mb-2">
                    <div class="d-flex">
                        <div class="progress-title mb-1 mr-auto">2 звезд</div>
                        <span>{{ rating.Cnt_star2 }}</span>
                    </div>
                    <div class="progress rounded" style="height: 6px;">
                        <div class="progress-bar bg-success rounded" role="progressbar" style="width: {{ rating.Cnt|rating_percentages:rating.Cnt_star2 }}%"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-item">
                    <div class="d-flex">
                        <div class="progress-title mb-1 mr-auto">1 звезд</div>
                        <span>{{ rating.Cnt_star1 }}</span>
                    </div>
                    <div class="progress rounded" style="height: 6px;">
                        <div class="progress-bar bg-success rounded" role="progressbar" style="width: {{ rating.Cnt|rating_percentages:rating.Cnt_star1 }}%"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
            <div class="p-2">
                {% for review in reviews %}
                <div class="bg-light mb-4 rounded-bottom rounded-top" id="{{ review.id }}">
                    <div class="px-4 pt-4">
                        {% if review.head %}
                        <h5 class="mt-3">{{ review.head }}</h5>
                        <hr class="border-primary">
                        {% endif %}
                        <div class="d-flex mt-3 mb-3">
                            <p class="font-weight-bold mr-2">{{ review.name|title }}</p>
                            {% if review.source %}<div class="mr-2">{{ review.source }}</div>{% endif %}
                            <div class="mr-1 text-primary">Проверенный</div>
                            <div class="d-flex">
                                <span class="px-2 text-success mr-2">{{ review.rating }}</span>
                                <ul class="list-unstyled d-flex">
                                        {% if review.rating < 0 %}
                                            <li><i class="far fa-star text-warning"></i></li>
                                        {% elif review.rating >= 1 %}
                                            <li><i class="fa fa-star text-warning"></i></li>
                                        {% else %}
                                            <li><i class="fa fa-star-half-alt text-warning"></i></li>
                                        {% endif %}

                                        {% if review.rating < 1 %}
                                            <li><i class="far fa-star text-warning"></i></li>
                                        {% elif review.rating >= 2 %}
                                            <li><i class="fa fa-star text-warning"></i></li>
                                        {% else %}
                                            <li><i class="fa fa-star-half-alt text-warning"></i></li>
                                        {% endif %}

                                        {% if review.rating < 2 %}
                                            <li><i class="far fa-star text-warning"></i></li>
                                        {% elif review.rating >= 3 %}
                                            <li><i class="fa fa-star text-warning"></i></li>
                                        {% else %}
                                            <li><i class="fa fa-star-half-alt text-warning"></i></li>
                                        {% endif %}

                                        {% if review.rating < 3 %}
                                            <li><i class="far fa-star text-warning"></i></li>
                                        {% elif review.rating >= 4 %}
                                            <li><i class="fa fa-star text-warning"></i></li>
                                        {% else %}
                                            <li><i class="fa fa-star-half-alt text-warning"></i></li>
                                        {% endif %}

                                        {% if review.rating < 4 %}
                                            <li><i class="far fa-star text-warning"></i></li>
                                        {% elif review.rating >= 5 %}
                                            <li><i class="fa fa-star text-warning"></i></li>
                                        {% else %}
                                            <li><i class="fa fa-star-half-alt text-warning"></i></li>
                                        {% endif %}
                                </ul>
                            </div>
                        </div>
                        <p>{{ review.comment|linebreaksbr }}</p>
                        <div class="container">
                            <div class="row">
                                {% if review.positive %}
                                <div class="col-sm-6">
                                    <h6>Плюсы</h6>
                                    <p class="text-primary">{{ review.positive|linebreaksbr}}</p>
                                </div>
                                {% endif %}
                                {% if review.negative %}
                                <div class="col-sm-6 ml-md-auto">
                                    <h6>Минусы</h6>
                                    <p class="text-danger">{{ review.negative|linebreaksbr}}</p>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                        {% comment %}
                        <!--TODO: Возможность ответа. Лайк.Дизлайк комментарию-->
                        <div class="d-sm-flex">
                            <a class="bg-light text-dark rounded-sm px-3 py-1 mr-2 mr-xl-4 font-sm d-inline-block mb-2 mb-sm-0"
                               href="#"> <i class="fas fa-reply pr-1"></i>Ответить</a>
                            <a class="bg-success-soft text-success rounded-sm px-3 py-1 mr-2 mr-xl-4 font-sm d-inline-block"
                               href="#"> <i class="far fa-thumbs-up pr-1"></i> 67 </a>
                            <a class="bg-danger-soft text-danger rounded-sm px-3 py-1 font-sm d-inline-block"
                               href="#"> <i class="far fa-thumbs-down pr-1"></i> 04 </a>
                        </div>
                        {% endcomment %}
                        {% if review.course %}
                        <div class="pb-3"> <b>Отзыв на курс:</b> <a href="https://{{ review.course.link }}">{{ review.course.name }}</a></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="border">
            <h6 class="text-dark px-4 py-2 bg-light mb-0">{% if rating.Cnt > 0 %}Оставить отзыв{% else %}Будьте первым кто оставит отзыв{% endif %}</h6>
            <div class="p-4 border-top">
                <form class="form-flat-style" action="" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="ratings">
                                <input type="radio" id="star5" name="rating" value="5"/><label class="full" for="star5"
                                                                                               title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" name="rating" value="4.5"/><label class="half"
                                                                                                     for="star4half"
                                                                                                     title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4"
                                                                                               title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" name="rating" value="3.5"/><label class="half"
                                                                                                     for="star3half"
                                                                                                     title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3"
                                                                                               title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" name="rating" value="2.5"/><label class="half"
                                                                                                     for="star2half"
                                                                                                     title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2"
                                                                                               title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="rating" value="1.5"/><label class="half"
                                                                                                     for="star1half"
                                                                                                     title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1"
                                                                                               title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" name="rating" value="0.5"/><label class="half"
                                                                                                    for="starhalf"
                                                                                                    title="Sucks big time - 0.5 stars"></label>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Заголовок</label>
                            {{ form.head.errors }}
                            <input type="text" name="head" class="form-control" placeholder="Опишите кратко свое впечатление об обучении"
                                   {% if form.head.value %}
                                   value="{{ form.head.value }}"
                                   {% endif %}
                            >
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Имя</label>
                            {{ form.name.errors }}
                            <input type="text" name="name" class="form-control" placeholder="Введите ваше имя"
                                   {% if form.name.value %}
                                   value="{{ form.name.value }}"
                                   {% endif %}
                            >
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Ваш email</label>
                            {{ form.email.errors }}
                            <input type="email" name="email" class="form-control" placeholder="Введите ваш email"
                                   {% if form.email.value%}
                                   value="{{ form.email.value }}"
                                   {% endif %}
                            >
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Ваш отзыв</label>
                            {{ form.comment.errors }}
                            <textarea class="form-control" id="comment" name="comment" rows="4"
                                      placeholder="Опишите коротко впечатления от школы"
                            >{% if form.comment.value%}{{ form.comment.value }}{% endif %}</textarea>
                        </div>
                        <div class="form-group col-6">
                            <label>Плюсы</label>
                            {{ form.positive.errors }}
                            <textarea class="form-control" id="positive" name="positive" rows="4"
                                      placeholder="Опишите плюсы. Каждый с новой строки"
                            >{% if form.positive.value%}{{ form.positive.value }}{% endif %}</textarea>
                        </div>
                        <div class="form-group col-6">
                            <label>Минусы</label>
                            {{ form.negative.errors }}
                            <textarea class="form-control" id="negative" name="negative" rows="4"
                                      placeholder="Опишите минусы. Каждый с новой строки"
                            >{% if form.negative.value%}{{ form.negative.value }}{% endif %}</textarea>
                        </div>
                        <div class="col-12 mb-5">
                            <div class="short-by">
                            <select class="form-control basic-select" name ="course">
                                <option >----------------</option>
                                {% for course in school.school_courses.all %}
                                <option value="{{ course.id }}" >{{ course.name }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            <button type="submit" class="btn btn btn-primary">Оставить отзыв</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>

<!--=  Client Logo -->
<section class="space-ptb bg-light">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12 mb-4">
                <div class="section-title">
                    <h2>Курсы от {{ schools.count }} онлайн школ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel our-clients" data-nav-arrow="false" data-items="6" data-md-items="5"
                     data-sm-items="4" data-xs-items="3" data-xx-items="1" data-space="30" data-autoheight="true"
                     data-autospeed="4000">
                    {% for school in schools %}
                    <div class="item">
                        <a href="{% url 'school_detail' school.slug %}"><img class="img-fluid"
                                                                             src="{{ school.logo.url }}" alt=""></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Client Logo -->

{% endblock content %}