{% extends 'base.html' %}

{% block content %}
<!--=================================
Inner Header -->
<section class="inner-header bg-holder bg-overlay-black-90" style="background-image: ('static/images/bg/03.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-left mb-2 mb-md-0">
        {% if category %}
        <h1 class="breadcrumb-title mb-0 text-white">{{ category.name }}</h1>
        {% else %}
        <h1 class="breadcrumb-title mb-0 text-white">Блог</h1>
        {% endif %}
      </div>
      <div class="col-md-6">
        <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ml-auto">
          <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home mr-1"></i>Home</a></li>
          <li class="breadcrumb-item active"><span>Classic full width</span></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!--=================================
Inner Header -->

<!--=================================
Classic Left Sidebar -->
<section class="space-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      {% for post in page_obj %}
        <div class="blog-post mb-4 mb-sm-5">
          <div class="blog-post-image">
            <img class="img-fluid rounded-sm" src="{{ post.main_image.url }}" alt="">
          </div>
          <div class="blog-post-content">
            <div class="blog-post-info">
              <div class="blog-post-author">
                <a href="{% url 'blog_category' post.categories.all.0.slug %}" class="btn btn-link"><i class="far fa-folder-open"></i>{{ post.categories.all.0 }}</a>
              </div>
              <div class="blog-post-date"><a href="#"><i class="far fa-calendar"></i>{{ post.pub_date }} </a></div>
            </div>
            <div class="blog-post-details">
              <h5 class="blog-post-title">
              <a href="{% url 'single_blog' post.slug %}">{{ post.name }}</a>
              </h5>
              <p>{{ post.short_description }}</p>
            </div>
            <div class="blog-post-footer d-flex align-items-center">
              <a href="{% url 'single_blog' post.slug %}" class="btn btn-primary">Читать далее</a>
              <div class="text-primary social-share ml-auto">
                <a href="#"><i class="fas fa-share-alt mr-2 text-primary"></i></a>
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

        <div class="row">
          <div class="col-12 text-center mt-4 mt-md-5">
            <nav>
              <ul class="pagination justify-content-center mb-0">
                {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Предыдущая</span>
                  </a>
                </li>
                {% endif %}
                {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                 <li class="page-item active">
                  <span class="page-link">
                    {{ p }}
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Следующая страница</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Classic Left Sidebar -->

  {% endblock content %}